<h1>
  <%= @num_dice %>d<%= @num_sides %>
</h1>

<div class="links">
  <div><a href="/process_roll?dice=<%= @num_dice%>&sides=<%= @num_sides %>">Roll again</a></div>
  <div><a href="/">Go back home</a></div>
</div>
<ol>
  <% @rolls.each do |a_roll|%>
  <li>Result:<%= a_roll %></li>
  <% end %>
</ol>
